<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_cell_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_cell_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{77,0},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_cell_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{154,0},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_cell_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{231,0},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map_cell.png</string>
            <key>size</key>
            <string>{308,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:064480d70d7a5a488cb11439b3e5e2dc:edba1cc255c440621c19730615964fc9:7ce253b8c5db3e41af0759d815647602$</string>
            <key>textureFileName</key>
            <string>map_cell.png</string>
        </dict>
    </dict>
</plist>
